@charset "UTF-8";

body {
  background-color: peachpuff;
}
h1 {
  background-color: yellow;
  width: 50%;
  border: 4px solid gold;
  padding: 20px;
  margin: 5px;
}
h2 {
  background-color: yellow;
  width: 40%;
  border: 4px solid orange;
  padding: 20px;
  margin: 5px;
}

nav {
  background-color: cyan;
  width: 140px;
  border: 4px solid blue;
  padding: 20px 10px;
  margin: 5px;
}

main {
    background-color: khaki;
    width: 70%;
    border: 4px solid olive;
    padding: 30px 20px;
    margin: 5px;
}

footer {
   background-color: pink;
   width: 20%;
   border: 4px solid magenta;
   padding: 10px;
   margin: 5px;
}
